$primary: #9381ff;

@import 'bulma/bulma.sass';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

h1.title {
  color: $primary;
}

.is-clickable {
  cursor: pointer;
}
