$primary: #9381ff;

@import 'bulma/bulma.sass';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

h1.title {
  color: $primary;
}

.is-clickable {
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: flex;
  flex: 1;
}

@media (max-width: 500px) {
  .content {
    flex-direction: column;
  }
}

.sk-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.75rem;
}

.wrapper {
  position: relative;
  flex: 1;
}
